<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metric Converter
      <h5>By: Dominikus Ruaw</h5>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Metric Converter</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Dari:</ion-label>
      <ion-select [(ngModel)]="selectedMetrik" (ionChange)="onChangeMetrik()">
        <ion-select-option *ngFor="let metrik of metriks" [value]="metrik">{{ metrik }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Satuan Awal:</ion-label>
      <ion-select [(ngModel)]="satuanAwal" [disabled]="!selectedMetrik">
        <ion-select-option *ngFor="let satuan of getSatuanAwal()" [value]="satuan">{{ satuan }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ke:</ion-label>
      <ion-select [(ngModel)]="satuanAkhir" [disabled]="!selectedMetrik">
        <ion-select-option *ngFor="let satuan of getSatuanAkhir()" [value]="satuan">{{ satuan }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Nilai Awal:</ion-label>
      <ion-input type="number" [(ngModel)]="nilaiAwal" (ionInput)="updateHasilKonversi()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Hasil Konversi:</ion-label>
      <ion-input type="text" [value]="hasilKonversi" readonly></ion-input>
      
    </ion-item>

    <ion-button expand="block" (click)="resetForm()">Reset</ion-button>
  </div>
</ion-content>